.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(47,137,252,1) 82%, rgba(47,137,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#94c2ff", endColorstr="#ffffff", GradientType=1);
}

.register-container {
  background: #ffffff;
  width: 800px; /* Ajusta el ancho según sea necesario */
  margin: 50px auto;
  padding: 20px;
  -webkit-box-shadow: 9px 16px 24px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 9px 16px 24px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 9px 16px 24px 0px rgba(0, 0, 0, 0.54);
  border-radius: 10px;
}

.create-account {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.register-form-group {
  margin-bottom: 20px;
  flex: 1 1 45%; /* Ajusta el tamaño de los elementos flexibles */
  box-sizing: border-box;
}

.register-form-group label {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}

.register-form-group input,
.register-form-group select {
  width: 100%;
  height: 48px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
}

.register-form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre los elementos */
}

.sign-up-button,
.continue-button {
  width: 312px;
  height: 48px;
  background: #0e64d2;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.message {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 20px;
}

.login-prompt {
  text-align: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.login-link {
  color: #2f89fc;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}